/*
* @Author: yanhoor
* @Date:   2017-10-29 11:11:04
* @Last Modified by:   yanhoor
* @Last Modified time: 2017-10-30 19:05:52
*/

#canvas{
	width: 1000px;
	height: 200px;
	position: absolute;
	top: 100px;
}